// $azul-padmoney: rgb(250, 250, 250);
$cor-painel: #1182cd;
$cor-padmoney: #1171af;
$mobile: max-width 400px;
$mobile_grande: max-width 768px;
$tablet: max-width 960px;
$tablet_grande: max-width 1024px;
$wide: max-width 1200px;
$wide_grande: max-width 1400px;

body {
  font-family: Montserrat, sans-serif;
  background: #f2f5fa;
  color: #3e3e3e;
  @include breakpoint($tablet) {
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
  }
}

h1 {
  margin: 0;
}

.overlay {
  right: 10px;
  top: 0px;
  position: absolute;
  padding: 6px 13px 8px 13px;
  margin-top: 10px;
  font-size: 11pt;
  background-color: #cccccc;
  color: #fff;
  border-radius: 3px;

  &.active {
    opacity: 1;
    visibility: visible;
    z-index: 12;
  }
}

a {
  text-decoration: none;
  color: #1182cd;
  text-decoration: underline;
  &:link {
    width: 100%;
  }
}

p {
  margin: 10px 0;
  color: #3e3e3e;
  color: #3a5363;
  font-family: Montserrat;
  font-size: 15px;
  font-weight: 400;
  code {
    font-family: Montserrat;
    font-weight: 600;
    color: #ffffff;
    background: #555;
    display: inline-block;
    padding: 0 5px 2px;
    border-radius: 3px;
  }
  strong {
    font-weight: 600;
  }
  @include breakpoint($tablet) {
    font-size: 14px;
  }
}

ul {
  margin-left: 0px !important;
  margin-top: 8px;
  li {
    font-size: 14px;
    padding: 2px 0;
    code {
      font-size: 16px;
      font-weight: 600;
    }
    a {
      color: #3e3e3e;
      display: block;
      margin: 0 !important;
      padding: 5px 0;
    }
  }
}

pre {
  // background: rgb(250, 250, 250);
  background-color: #555;
  color: #ffffff;
  border-left: 2px gray solid;
  border-radius: 2px;
  overflow-x: scroll;
  font-size: 10pt;
  font-family: Montserrat, Courier New, Courier, monospace;
  font-weight: 600;
  line-height: 2em;
  padding: 10px;
}

table {
  border-collapse: collapse;
  width: 100%;
  margin-top: 40px;
  @include breakpoint($tablet) {
    overflow-x: scroll;
    display: block;
  }

  tr {
    th {
      text-align: left;
      font-weight: 600;
      padding: 6px 5px;
      font-size: 14px;
      background: #f2f5fa;
      color: #404958;
      border: 1px solid #cfd4dc;
    }
    td {
      text-align: left;
      padding: 6px 5px;
      font-size: 14px;
      border: 1px solid #d8dde6;
    }
  }
  & td:first-child,
  td:last-child {
    padding-left: 5px;
  }
}

.center {
  text-align: center;
}

h1,
h2,
h3 {
  font-size: 30px;
}

.mobile {
  display: none;

  @include breakpoint($tablet) {
    display: block;
  }
}

.titulo_wrap {
  color: #3e3e3e;
  font-size: 13pt;
  background: #fff;
  padding: 20px;
  margin-bottom: 25px;
  border-radius: 10px;

  h1 {
    color: #3a5363 !important;
    font-family: Montserrat !important;
    font-size: 16px !important;
    margin-bottom: 10px;
    font-weight: 500 !important;
  }

  p {
    color: #7e99ab;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 400;
    margin: 0;
  }
}

/*=====================================
=            barra lateral            =
=====================================*/
.barra-lateral {
  width: 275px;
  max-width: 400px;
  overflow-y: auto;
  height: 100%;
  margin: 0px;
  padding: 0px;
  background-color: $cor-painel;
  border-right: 1px rgb(241, 241, 241) solid;
  z-index: 14;
  transition: all 0.35s ease-in-out;
  position: fixed;

  @include breakpoint($tablet) {
    position: fixed;
    max-width: none;
    opacity: 0;
    left: -100%;
    width: 100%;
    top: 0;
    text-align: center;
    background: #0e6198;
  }

  &.active {
    left: 0;
    opacity: 1;
  }

  .fechar {
    position: absolute;
    top: 20px;
    right: 20px;
    max-width: 20px;
  }

  .logo {
    background: #0d77bd;
    padding: 21px 10px;
    text-align: center;

    img {
      display: inline-block;
      max-width: 158px;
    }
  }

  .menu {
    ul {
      padding: 0;
      margin: 0;
      list-style-type: none;
      li {
        display: block;
        padding: 0;
        &.has-accordion {
          position: relative;
          a {
            &:after {
              position: absolute;
              top: 16px;
              right: 12px;
              content: url(../img/seta_accordion.png);
              display: block;
              transform: rotate(-90deg);
              transition: background 0.1s ease-in-out,
                transform 0.1s ease-in-out;
            }
            &.ativo {
              &:after {
                transform: rotate(-0deg);
              }
            }
          }
        }
        a {
          background: #1182cd;
          color: #f3f6fc;
          font-family: Montserrat;
          font-size: 15px;
          font-weight: 300;
          padding-top: 13px;
          padding-bottom: 13px;
          padding-left: 30px;
          border-bottom: 1px solid #3996d4;
          text-decoration: none;
          transition: background 0.1s ease-in-out, rotate 0.1s ease-in-out;
          position: relative;
          @include breakpoint($tablet) {
            padding-left: 0;
          }
          &:hover {
            background: #3996d4;
          }
          &.ativo {
            border-bottom: 1px solid #3996d4;
            background: #3996d4;
          }
        }
        ul {
          li {
            a {
              background: #0d77bd;
              font-size: 14px;
              border-bottom: 0;
              padding-left: 50px;
              padding-top: 9px;
              padding-bottom: 9px;
              @include breakpoint($tablet) {
                padding-left: 0;
              }
              &:after {
                display: none !important;
              }
              &:hover,
              &.ativo {
                background: #2288cc;
              }
            }
          }
        }
      }
    }
  }
}

.codigo {
  position: relative;
}

.has-accordion {
  ul {
    display: none;
  }
}

.conteudo {
  width: 100%;
  float: left;
  clear: both;
  max-width: 1400px;
  padding-left: 310px;
  padding-top: 30px;
  @include breakpoint($tablet) {
    padding-left: 10px;
    padding-right: 10px;
  }

  p:first-child {
    padding-top: 4px;
  }

  .copy {
    right: 10px;
    top: 0px;
    position: absolute;
    padding: 6px 13px 8px 13px;
    margin-top: 10px;
    font-size: 11pt;
    background-color: #cccccc;
    color: #fff;
    border-radius: 3px;

    &:hover {
      cursor: pointer;
      color: white;
      background-color: $cor-padmoney;
    }
  }

  .bloco {
    color: #3e3e3e;
    font-size: 13pt;
    background: #fff;
    padding: 20px;
    margin-bottom: 25px;
    border-radius: 10px;
    @include breakpoint($tablet) {
      padding: 20px;
    }

    h2 {
      color: #1182cd;
      font-size: 20px;
      margin-bottom: 15px;
      font-weight: 500;

      @include breakpoint($mobile) {
        word-break: break-all;
      }
    }

    h3 {
      font-size: 16px;
      margin: 20px 0 15px 0;
      font-weight: 700;

      @include breakpoint($mobile) {
        word-break: break-all;
      }
    }

    span a {
      padding: 0px !important;

      &:hover {
        color: #3e3e3e;
        background-color: white;
      }
    }

    .sub {
      h1 {
        font-size: 17px;
        color: #3a5363;
        font-weight: 600;
        margin-top: 20px;
        margin-bottom: 0;
        @include breakpoint($tablet) {
          font-size: 15px;
        }
      }

      &.other {
        border: 0px;
        padding-left: 0px;
      }

      &.retorno {
        margin-top: 30px;
      }
    }
  }

  .topicos {
    width: 60%;
    margin-top: 0px;
    padding-left: 270px !important;
    margin-left: auto;
    margin-right: auto;
  }
}

.method-http {
  &.verde {
    color: #16b141;
    code {
      color: #16b141;
    }
    strong {
      background: #16b141;
      color: #fff;
    }
  }
  &.vermelho {
    color: #ed3e0f;
    code {
      color: #ed3e0f;
    }
    strong {
      background: #ed3e0f;
      color: #fff;
    }
  }
  &.amarelo {
    color: #ffa903;
    code {
      color: #ffa903;
    }
    strong {
      background: #ffa903;
      color: #fff;
    }
  }
  &.azul {
    color: #1571f9;
    code {
      color: #1571f9;
    }
    strong {
      background: #1571f9;
      color: #fff;
    }
  }
  code {
    background: #ffffff;
  }
  strong {
    font-size: 12px;
    color: #ffffff;
    background: #1571f9;
    display: inline-block;
    padding: 5px 5px;
    border-radius: 3px;
    margin-right: 5px;
  }
}

.accordion {
  background-color: #ffffff;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 25px;
  &:hover {
    .trigger {
      h2 {
        padding-left: 10px;
      }
    }
  }
  .trigger {
    @include clearfix;
    cursor: pointer;

    h2 {
      color: #1182cd;
      font-family: Montserrat;
      font-size: 16px;
      font-weight: 400;
      float: left;
      position: relative;
      transition: padding 0.35s ease-in-out;
      margin: 0;
      top: 3px;
    }
    .codigo,
    p {
      font-family: Montserrat;
      font-size: 14px;
      font-weight: 400;
      margin: 0;
      float: right;
    }
  }
  .hidden {
    display: none;
    padding-top: 10px;
  }
}

header {
  position: relative;
  background: #1182cd;
  padding: 20px;
  @include clearfix;
  .logo {
    float: left;
    img {
      max-width: 150px;
    }
  }
  .menu {
    position: absolute;
    top: 23px;
    right: 20px;
    text-align: right;
    display: block;
    width: 30px;
    height: 30px;
  }
}
