<div class="sidebar">

    <header>
        <img src="https://static.padmoney.com/img/logo-padmoney.png" alt="">
    </header>

    <nav>
        <ul>
            <li class="nav-title">API Reference</li>

            <li>
                <a href="/index">Introdução</a>
            </li>
            <li>
                <a href="/autenticacao">Autenticação</a>
            </li>
            <li>
                <a href="/sandbox">Sandbox (testes)</a>
            </li>
            <li>
                <a href="/integracao">Integração</a>
            </li>
            <li>
                <a href="/modulos">Módulos e Plugins</a>
            </li>
            <li class="has-accordion">
                <a href="javascript:void(0);">Boletos</a>
                <ul class="items">
                    <li><a data-scroll href="/bank-billets#create-bank-billet">Criar Boleto</a></li>
                    <li><a data-scroll href="/bank-billets#cancel-bank-billet">Cancelar Boleto</a></li>
                    <li><a data-scroll href="/bank-billets#list-bank-billets">Listar Boletos</a></li>
                    <li><a data-scroll href="/bank-billets#get-bank-billet">Consultar Boleto</a></li>
                    <li><a data-scroll href="/bank-billets#get-bank-billet-by-status">Consultar Boleto por Status</a></li>
                </ul>
            </li>
            <li class="has-accordion">
                <a href="javascript:void(0);">Notificações</a>
                <ul class="items">
                    <li><a data-scroll href="/callback">Notificações de Transações</a></li>
                    <li><a data-scroll href="/callback#url">Definir URL de Notificações</a></li>
                </ul>
            </li>
        </ul>
    </nav>
</div>
