<header class="mobile">
    <div class="logo">
        <img src="/assets/img/logo-padmoney-mono.png" alt="Logo Padmoney" class="logo_barra">
    </div>
    <a href="javascript:void(0);" class="botao menu"><img src="/assets/img/menu.png" alt=""></a>
</header>

<div class="barra-lateral">
    <img src="/assets/img/fechar.png" alt="" class="fechar mobile">
    <div class="logo">
        <img src="/assets/img/logo-padmoney-mono.png" alt="Logo Padmoney" class="logo_barra">
    </div>
    <div class="menu">
        <ul>
            <li>
                <a href="/index">Introdução</a>
            </li>
            <li>
                <a href="/sandbox">Sandbox (testes)</a>
            </li>
            <li>
                <a href="/modulos">Módulos e Plugins</a>
            </li>
            <li>
                <a href="/autenticacao">Autenticação</a>
            </li>
            <li class="has-accordion">
                <a href="javascript:void(0);">Boletos</a>
                <ul>
                    <li><a data-scroll href="/boletos#criar-boleto">Criar Boleto</a></li>
                    <li><a data-scroll href="/boletos#cancelar-boleto">Cancelar Boleto</a></li>
                    <li><a data-scroll href="/boletos#consultar-boleto">Consultar Boleto</a></li>
                    <li><a data-scroll href="/boletos#consultar-status">Consultar Boleto por Status</a></li>
                    <li><a data-scroll href="/boletos#imprimir">Imprimir Boleto</a></li>
                    <li><a data-scroll href="/boletos#listar-boleto">Listar Boletos</a></li>
                </ul>
            </li>
            <li class="has-accordion">
                <a href="javascript:void(0);">Notificações</a>
                <ul>
                    <li><a data-scroll href="/notificacoes">Notificações de Transações</a></li>
                    <li><a data-scroll href="/notificacoes#url-notificacao">Definir URL de Notificações</a></li>
                </ul>
            </li>
            <li class="has-accordion">
                <a href="javascript:void(0);">Parametrização</a>
                <ul>
                    <li><a data-scroll href="/parametrizacao#status-boleto">Status do Boleto</a></li>
                    <li><a data-scroll href="/parametrizacao#tipo-desconto">Tipo de Desconto</a></li>
                    <li><a data-scroll href="/parametrizacao#tipo-pessoa">Tipo de Pessoa</a></li>
                </ul>
            </li>
        </ul>
    </div>
</div>